<launch>
	<arg name="debug_show" default="false" />
	<arg name="output" default="screen" />
	<node pkg="swarm_yolo" name="swarm_yolo" type="detect.py" output="$(arg output)">
		<param name="image_topic" type="string" value="/camera/infra1/image_rect_raw" />
		<param name="model_def" type="string" value="$(find swarm_yolo)/config/yolov3-tiny-1class.cfg" />
		<param name="weights_path" type="string" value="$(find swarm_yolo)/weights/yolov3-tiny_drone.pth" />
		<param name="weights_trt_path" type="string" value="$(find swarm_yolo)/weights/yolov3-tiny_drone_trt.pth" />
		<param name="class_path" type="string" value="$(find swarm_yolo)/config/drone.names" />
		<param name="debug_show" type="string" value="$(arg debug_show)" />
		<rosparam>
            conf_thres: 0.6
        </rosparam>
	</node>
</launch>
